
body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#hero {
    position: relative;
    max-height: 800px;
}

#titolo1 {
    color: white;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.flex-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-dim {
    max-height: 375px;
    max-width: 250px;
}

.img-dim-boys {
    max-width: 250px;
    height: 375px;
}

.no-margin {
    margin: 0px;
}
.section_title {
    text-align: center;
    color: black;
    padding: 65px 0px 43px 0px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.body-p-card {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start; 
    margin-left:15px; 
    margin-bottom: 4px;
}

.card {
    justify-content: center;
}

.card-title {
    text-align: center;
    margin-top: 7px;
}

.card-text {
    margin-bottom: 10px;
    margin-left: 5px;
}

.card-row {
    flex-direction: row;
}

.botton-bgcolor {
    background-color: #3e7fdf !important;
}

.text-modifier-h4 {
    text-align: center;
}

.btn-mgl5 {
    margin-left: 5px !important;
}

.plot-text {
    text-align: justify;
    flex-direction: column;
    padding: 0px 35px;
}

.plot-title {
    text-align: center;
    flex-direction: column;
}
.text-modal {
    flex-direction: column;
    justify-content: space-around;
}

.text-bold {
    font-weight: bold;
}

#subheading {
    color: white;
    position: absolute;
    top: 63%;
    width: 100%;
    text-align: center;
    margin: 0px;
    font-style: italic; font-weight: 400;
}

.border-left-right {
    border-right: 3px;
    border-left: 3px;
    border-right-color: #dee2e6;
    border-left-color: #dee2e6;
}

.text-left-corner {
    text-align: left;
    padding: 0px 35px;
}